<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add department</title>
</head>

<body>
    <div class="container my-5">
            <nav aria-label="breadcrumb" class="my-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Admin Page</a></li>
            <li class="breadcrumb-item"><a href="/admin/departments">Departments</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add Department</li>
        </ol>
    </nav>
        <div class="title text-center">
            <h2>Add Department</h2>
        </div>
        <form action="/admin/departments" method="POST">
            <div class="subjectname my-2">
                <label for="subname" class="form-label fw-bold">Department Name</label>
                <input type="text" id="subname" class="form-control" name="DepartmentName">
            </div>
            <div class="subjectcode my-2">
                <label for="code" class="form-label fw-bold">Department Code</label>
                <input type="text" id="code" class="form-control" name="DepartmentCode">
            </div>
            <button type="submit" class="btn btn-primary my-2">Add Department</button>
        </form>
    </div>
</body>

</html>