<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="title my-4">
        <h2>Students  : </h2>
        <table class="table table-striped my-3">
            <thead>
                <tr>
                    <th>First Name</th>
                </tr>
            </thead>
            <tbody>
            {{#each subviwe}}
                <tr>
                    <td>{{username}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>