
 <style>

h2{
font-family: 'Times New Roman', Times, serif;
margin-top: 30px;


}
.code{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: bold;
}
.go{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 120;
    background-color:rgb(185, 160, 185);
border-color: rgb(226, 216, 216);
width:100px;
border:none;
border-radius:10%;
height:30px;
font-weight: bold;

}

 </style>


<h2>
    {{department.name}}
</h2>

<div class="code">
    Code: {{department.code}}
</div>
<div>
<button class="go" onclick="history.back()">Go Back</button>
</div>