<!DOCTYPE html>
<html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgba(2, 42, 48, 0.603);
            margin: 0;
            padding: 0;
        }
      
    
        
    
    </style>
</head>

<body>

<div class="container">
 <button><a href="/registerdoctor">registerdoctor</a></button>   
</div>
<div class="my-2">
    <button><a href="/registerstudent">registerstudent</a></button>
</div>
<div class="my-3">
    <button><a href="/departments">Departments</a></button>
</div>
<div class="my-3">
    <button><a href="/subjects">subjects</a></button>
</div>

</body>
</html>
