



<style>
body{
background-image: linear-gradient(rgb(221, 213, 229),rgb(206, 162, 214));
}
.container{
    margin-top: 50;
    margin-bottom: 50;
  text-align: center;
  
  font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 8, 12);
}

.my-2{
    margin-top: 50;
    margin-bottom: 50;
 text-align: center;
    
  font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 8, 12);

}
.my-3{
    margin-top: 50;
    margin-bottom: 50;
 text-align: center;
  font-family: 'Times New Roman', Times, serif;
    color: rgb(12, 8, 12);
 
 
 


}
</style>


<div class="container">
 <button><a href="/adminlog">Admin</a></button>   
</div>
<div class="my-2">
    <button><a href="/login">Doctors</a></button>
</div>
<div class="my-3">
    <button><a href="/studentlog">Student</a></button>
</div>


